<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/cheatsheet.css" rel="stylesheet">
</head>
<script>
    function registerBoardInfo() {
        const reqUserForm = document.frmBoard;
        reqUserForm.setAttribute("method","post")
        reqUserForm.setAttribute("action","/boarder/register/save")
        reqUserForm.submit();
    }

</script>
<body>
<div>
    <div class="bd-example">
        <form class="row g-3" name="frmBoard">
            <div class="col-md-4">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="col-md-4">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="passwd" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="col-md-4">
                <label for="exampleInputNickname" class="form-label">Nickname</label>
                <input type="text" name="nick_name" class="form-control" id="exampleInputNickname" aria-describedby="emailHelp">
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="button" onclick="registerBoardInfo();">등록</button>
            </div>
        </form>
    </div>
</div>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/js/cheatsheet.js"></script>
</body>
</html>