<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/cheatsheet.css" rel="stylesheet">

    <!— jquery webjars add —>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
</head>
<script>
    function invalid(){
        let check = true;

        if($("#email").val() == ''){
            $("#email").addClass('is-invalid');
            check = false;
        }

        if($("#passwd").val() == ''){
            $("#passwd").addClass('is-invalid');
            check = false;
        }

        return check;
    }

    function changeClass(val){
        if(val.value != '') {
            val.classList.remove('is-invalid');
            val.classList.add('is-valid');
        }
    }


    $(document).ready(function () {
        $("#registerBoardInfo").on("click", function () {
            if(invalid() == true){
                $("#email").removeClass('is-invalid');
                $("#passwd").removeClass('is-invalid');

                // 아래는 비동기 처리
                $.post("/boarder/register", $("form[name=frmBoard]").serialize() , function (data) {
                    alert(data);
                    if(data.search('성공') > 0){
                        $(location).attr("href", "/boarder/list");
                    }
                });
            }
        });
    });
</script>
<body>
<div>
    <div class="bd-example">
        <form class="row g-3" name="frmBoard">
            <div class="col-md-4">
                <label for="email" class="form-label">Email address</label>
                <input type="email" name="email" id="email" class="form-control" onkeyup="changeClass(this)" aria-describedby="emailHelp" required>
                <div class="valid-feedback">
                    입력 완료.
                </div>
                <div class="invalid-feedback">
                    이메일을 똑바로 입력 하세요.
                </div>
            </div>

            <div class="col-md-4">
                <label for="passwd" class="form-label">Password</label>
                <input type="password" name="passwd" id="passwd" class="form-control" onkeyup="changeClass(this)" required>
                <div class="valid-feedback">
                    입력 완료.
                </div>
                <div class="invalid-feedback">
                    패스워드를 똑바로 입력 하세요.
                </div>
            </div>
            <div class="col-md-4">
                <label for="nickName" class="form-label">Nickname</label>
                <input type="text" name="nickName" id="nickName" class="form-control" onkeyup="changeClass(this)">
                <div class="valid-feedback">
                    입력 완료.
                </div>
            </div>
            <div class="col-12">
                <button id="registerBoardInfo" class="btn btn-primary" type="button">등록</button>
            </div>
        </form>
    </div>
</div>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/js/cheatsheet.js"></script>
</body>
</html>