<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/cheatsheet.css" rel="stylesheet">

    <!— jquery webjars add —>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
</head>
<script>
    $(document).ready(function () {
        $("#updateBoardInfo").on("click", function () {
            // 아래는 비동기 처리
            $.post("/boarder/update", $("#frmBoard").serialize() , function (data) {
                alert(data);
                if(data === '회원 수정 성공'){
                    $(location).attr("href", "/boarder/list");
                }
            });
        });
    });
</script>
<body>
<div>
    <div class="bd-example">
        <form class="row g-3" id="frmBoard">
            <input type="hidden" name="seq" th:value="${user.seq}">
            <div class="col-md-4">
                <label for="email" class="form-label">Email address</label>
                <input type="email" name="email" id="email" class="form-control" th:value="${user.email}" aria-describedby="emailHelp">
            </div>
            <div class="col-md-4">
                <label for="passwd" class="form-label">Password</label>
                <input type="password" name="passwd" id="passwd" th:value="${user.passwd}"  class="form-control" >
            </div>
            <div class="col-md-4">
                <label for="nickName" class="form-label">Nickname</label>
                <input type="text" name="nickName" id="nickName" th:value="${user.nickName}"  class="form-control">
            </div>
            <div class="col-12">
                <button id="updateBoardInfo" class="btn btn-primary" type="button">수정</button>
            </div>
        </form>
    </div>
</div>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/js/cheatsheet.js"></script>
</body>
</html>