<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/cheatsheet.css" rel="stylesheet">
</head>
<script>
    function updateBoardInfo() {
        const reqUserForm = document.frmBoard;
        reqUserForm.setAttribute("method","post")
        reqUserForm.setAttribute("action","/boarder/update/save")
        reqUserForm.submit();
    }

</script>
<body>
<div>
    <div class="bd-example">
        <form class="row g-3" name="frmBoard">
            <input type="hidden" name="seq" th:value="${user.seq}">
            <div class="col-md-4">
                <label for="email" class="form-label">Email address</label>
                <input type="email" name="email" id="email" class="form-control" th:value="${user.email}" aria-describedby="emailHelp">
            </div>
            <div class="col-md-4">
                <label for="passwd" class="form-label">Password</label>
                <input type="password" name="passwd" id="passwd" th:value="${user.passwd}"  class="form-control" >
            </div>
            <div class="col-md-4">
                <label for="nick_name" class="form-label">Nickname</label>
                <input type="text" name="nick_name" id="nick_name" th:value="${user.nick_name}"  class="form-control" aria-describedby="emailHelp">
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="button" th:onclick="updateBoardInfo()">수정</button>
            </div>
        </form>
    </div>
</div>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/js/cheatsheet.js"></script>
</body>
</html>