<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!-- Logback 이용해서 MyBatis 쿼리 Log -->
    <!-- <logger name="Account" level="DEBUG" />
    <logger name="org.springframework.jdbc" level="DEBUG" /> -->

    <!-- 좀 더 보기 좋은 MyBatis 쿼리 Log : log4jdbc -->
    <logger name="jdbc.sqlonly" level="info" />
    <logger name="jdbc.sqltiming" level="off" />
    <logger name="jdbc.audit" level="off" />
    <logger name="jdbc.resultset" level="off" />
    <logger name="jdbc.resultsettable" level="info" />
    <logger name="jdbc.connection" level="off" />
</configuration>